<div class="container">
    <div class="text-center col-md-offset-4 col-md-4">
    <div class="form-group">
        <label>Name</label>
        <input type="text" ng-model="name" class="form-control">
        <label>Games</label>
        <input type="text" ng-model="games_ip" class="form-control">
        <label>Events</label>
        <input type="text" ng-model="events_ip" class="form-control">
        <label>Board</label>
        <input type="text" ng-model="boards_ip" class="form-control">
    </div>
    <button type="button" class="btn btn-info" ng-click="login()">Link start!</button>
</div>
</div>
