<div class="container col-md-6 col-md-offset-3">
    <div class="panel">
        <div class="panel-heading clearfix">
            Game <p ng-bind="gameid"></p>
            <div class="pull-right"><p ng-bind="game.players.length"></p> Players
            <button type="button" class="btn btn-info" ng-click="refresh()">Refresh</button>
            </div>
        </div>
        <div class="panel-content">
            <table class="table">
                <theader>
                    <th>Name</th>
                    <th>Ready?</th>
                </theader>
                <tbody>
                    <tr ng-repeat="player in game.players">
                        <td>{{player.name}}</td>
                        <td><button type="button" class="btn btn-success col-md-12" ng-click="setReady(player)">Set Ready</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
