<div class="container">
    <div class="panel">
        <div class="panel-heading clearfix">
            Game <p ng-bind="game.gameid"></p>
            <div class="pull-right"><p ng-bind="board_players.length"></p> Players
                <button type="button" class="btn btn-info" ng-click="refresh()">Refresh</button>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                Current Player: <p ng-bind="current_player.name"></p>
            </div>
        </div>
        <div class="panel-content">
            <div class="row">
                <button type="button" class="btn btn-info" ng-click="startTurn()">Start</button>
                <button type="button" class="btn btn-info" ng-click="roll()">Roll</button>
                <button type="button" class="btn btn-info" ng-click="buy()">Buy</button>
                <button type="button" class="btn btn-info" ng-click="end()">End</button>
            </div>
            <div class="row">
                <table class="table">
                    <theader>
                        <th>#</th>
                        <th>Name</th>
                        <th>Players</th>
                        <th>Owner</th>
                    </theader>
                    <tbody>
                        <tr ng-repeat="place in board.fields">
                            <td>{{$index}}</td>
                            <td>{{place.name || place.place || $index}}</td>
                            <td>{{getPlayersOnField($index).join(',')}}</td>
                            <td>{{place.owner.id || '-'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
